* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  align-content: center;
  align-items: center;
  justify-items: center;
  gap: 20px;
  font-size: 18px;
  flex-direction: column;
  justify-content: center;
  display: flex;
}
h1{
    margin: 20px;
}
#note-input {
    width:  80%;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    /* border: 10px solidrgb(185, 225, 190)d; */
    border-radius: 20px;
    resize: vertical;
    min-height: 50px;
    background-color: #b9d2b8;

}
button {
  color: white;
  background-color: #3d633b;
  color: white;
  width: 80%;
  height: 70px;
  border-radius: 10px;
  border: none;
  font-size: 28px;
}
.note {
  color: white;
  background-color: rgb(139, 139, 139);
  width: 500px;
  border-radius: 10px;
  height: 70px;
  padding: 10px;
  margin: 10px;
  font-size: 22px;
}
li {
  list-style-type: none;
  justify-content: space-around;
}
